# Dependencias
node_modules
*/node_modules

# Variables de entorno
.env
*/.env
.env.local

# Builds y Cache de Vite
dist
*/dist
.vite-cache
*/.vite-cache
.vite
*/.vite

# Logs y OS
*.log
.DS_Store
Thumbs.db
